/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

@font-face {
    font-family: "Aristotelica";
    src: url(Font/zetafonts-aristotelica-pro-display-extralight.otf);
}

:root {
    --green: #58b747;
    --bar: #90af85;
    --softgreen: #e5f4ef;
    --heavygreen: #4c8880;
    --grey: #2e434e;
    --delete: #e6b8af;
    --edit: #cfe2f3; 
}

body {
    background-color: #e5e5e5;
}

body .main-content {
    margin: 0 auto;
    max-width: 700px;
    height: fit-content;
    margin-top: 100px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
}

header img {
    position: absolute;
    z-index: -199;
    object-fit: cover;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px 15px 0px 0px;
}

header div {
    position: absolute;
    width: 100%;
    height: 150px;
    z-index: 1;
    background-color:var(--grey);
    opacity: 50%;
    border-radius: 15px 15px 0px 0px;
}

header h1 {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    color: white;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 99;
}

body .main-content main {
    margin-top: 150px;
    background-color: white;
    width: 100%;
}

main form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main form .username-password {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

main form input {
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--bar);
    padding: 15px 10px;
}

main form input:focus {
    border: none;
    border-bottom: 1px solid var(--green);
}

main form input::placeholder {
    font-family: Poppins, Aristotelica, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

main form input:focus::placeholder {
    color: transparent;
}

main form input:focus:-ms-input-placeholder {
    color: transparent;
}

main form .username-password div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0px 0px;
}

main form .username-password div label {
    font-family: Poppins, Aristotelica, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-right: 30px;
}

main form .checkedbox {
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

main form .checkedbox div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

main form .checkedbox div input[type=checkbox] {
    width: 15px;
    height: 15px;
}

main form .checkedbox label {
    margin-top: 4px;
    font-family: Poppins, Aristotelica, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
}

main form .checkedbox div label {
    padding-left: 5px;
}

